body {
  background-image: url("paper.gif");
}

h2{
  color: #000000;
  font-family: "Montserrat", sans-serif:
}

h3{
  color: #000000;
  font-family: "Montserrat", sans-serif:
}

h1{
  color: #000000;
  font-family: "Montserrat", sans-serif:
}

p{
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
